{% load static %}
<!-- Link: /App/ -->
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="../static/filter.json"></script>

        <meta charset="utf-8">
        <title>XoCovid</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
        <!-- * Vue imports -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="https://unpkg.com/http-vue-loader"></script>
        <!-- esse /\ é o import que permite usar componentes em vue -->
        <!-- fim dos imports de Vue -->

        <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/line.min.js"></script>

        <!-- * Leaflet imports -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
        <script src="{% static 'leaflet-heat.js' %}"></script>
        <!-- fim dos imports de Leaflet -->

        <style>
            .v-text-field, .v-btn {
        
                border-radius: 10px;
            }

            .sub-botao{
                font-size: 25px !important;
                font-weight: lighter;
                text-transform: none;
                letter-spacing: normal;
            }

            #top {
            font-family: Barlow, Helvetica, Arial, sans-serif;
            text-align: center;
            }

            #nav {
            padding: 30px;
            }

            #nav a {
            font-weight: bold;
            color: #2c3e50;
            }

            #nav a.router-link-exact-active {
            color: #42b983;
            }

            .round-border {
            border-radius: 23px !important;
            }
        </style>    
    </head>

    <body>
        <v-app id="app" >
            <v-content class="pa-0 ma-0" style="background-color: 'transparent'" fluid fill-height >
                {% block body_block %}
                {% endblock %}
            </v-content>
        </v-app>
    </body>
</html>

<script>
    var pins = {{ items_json|safe }};
    var predicts = {{ predicts_json|safe }};
    var bairroBase = "{{ bairroBase|safe }}"
    bairroBase = bairroBase.split("'").join('"');
    // console.log("Bairro Base --------", bairroBase);
    // bairroBase = JSON.parse(bairroBase)
    // console.log("Bairro Base --------", bairroBase);
    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                themes: {
                    light: {
                        primary: '#1E9CF8', // Blue
                        secondary: '#FFFFFF', //White
                        accent: '#82B1FF',
                        error: '#FF5252',
                        info: '#2196F3',
                        success: '#4CAF50',
                        warning: '#FFC107'
                    },
                },
            },
        }),
        components: {
            // ? esse é o metodo para importar componentes em Vue
            'login': httpVueLoader("{% static 'vue-views/login.vue' %}"),
            'covid-map': httpVueLoader("{% static 'vue-views/covidMap.vue' %}"),
            VeLine
        // usando /\ como o nome da tag no código HTML (exemplo: <main-app></main-app>) 
        },
        data: () => ({
            itemsChips: [],
            itemsChipsC: [],
            itemsChipsD: [],
            itemsChipsR: [],
            values: null,
            valuesC:  null,
            valuesD: null,
            valuesR: null,
            value: null,
            sheet: false,
            base: 0,
            activeBtn: 1,
            item: 5,
            items: [
                {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                title: 'Brunch this weekend?',
                subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?",
                },
                {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
                subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.",
                },
                {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                title: 'Oui oui',
                subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?",
                },
                {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
                title: 'Birthday gift',
                subtitle: "<span class='text--primary'>Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?",
                },
                {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
                title: 'Recipe to try',
                subtitle: "<span class='text--primary'>Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.",
                },
            ],
            chartData: {
                columns: ['date', 'cost', 'profit', 'growthRate', 'people'],
                rows: [
                    { 'cost': 1523, 'date': '01/01', 'profit': 1523, 'growthRate': 0.12, 'people': 100 },
                    { 'cost': 1223, 'date': '01/02', 'profit': 1523, 'growthRate': 0.345, 'people': 100 },
                    { 'cost': 2123, 'date': '01/03', 'profit': 1523, 'growthRate': 0.7, 'people': 100 },
                    { 'cost': 4123, 'date': '01/04', 'profit': 1523, 'growthRate': 0.31, 'people': 100 },
                    { 'cost': 3123, 'date': '01/05', 'profit': 1523, 'growthRate': 0.12, 'people': 100 },
                    { 'cost': 7123, 'date': '01/06', 'profit': 1523, 'growthRate': 0.65, 'people': 100 }
                ]
            },
            icons: [
                'mdi-download',
                'fab fa-twitter',
                'fab fa-google-plus',
                'fab fa-linkedin',
                'fab fa-instagram',
            ],
            disabled: false,
            dense: false,
            twoLine: false,
            threeLine: false,
            shaped: false,
            flat: false,
            subheader: false,
            inactive: false,
            subGroup: false,
            nav: false,
            avatar: false,
            rounded: false,
            pins: pins,
            datedb: new Date(),
            predicts: predicts,
            useIa: false,
        }),
        methods: {
            printName: function (value){
                console.log("Teste ", value);
            },
            setCity: function (value){
                var objC = [];
                value.forEach(selecao =>{
                    data[0].estados.forEach(estado => {
                        if(estado.nome == selecao){
                            objC = objC.concat(estado.cidades)
                        }    
                    });
                });
                Vue.set(app, 'itemsChipsC', objC)
            },
            setDistrict: function (value){
                var objD = [];
                value.forEach(selecao =>{
                    data[0].bairros.forEach(cidade => {
                        console.log("Cidade e value", cidade, Object.keys(cidade), value)
                        if(Object.keys(cidade)[0] == selecao){
                            objD = objD.concat(cidade[Object.keys(cidade)[0]]);
                        }
                    });
                });
                console.log("objD: ",objD);
                Vue.set(app, 'itemsChipsD', objD)
            },
            filter: function (){
                console.log("Testandooo");
            },
            dateBack: function (event) {
                let test = new Date(this.datedb);
                test.setDate( test.getDate() - 1 );
                test.setHours(23,59,58);

                let today = new Date();
                today.setHours(23,59,59);
                if( test < today ){
                    this.useIa = false;
                    console.log("não usando mais predições!")
                }

                this.datedb = test;
                console.log("voltando um dia!("+this.datedb.toLocaleString('en-GB')+")");
            },
            dateForward: function (event) {
                let test = new Date(this.datedb);
                test.setDate( test.getDate() + 1 );
                let today = new Date();
                today.setHours(23,59,59);
                let tomorrow = new Date(today);
                tomorrow.setDate( today.getDate() + 1 );

                // se estou além de meia noite de hj e antes de meia noite de amanha
                if(test > today && test < tomorrow ) {
                    console.log("entrando nas predições!");
                    this.useIa = true;
                    this.datedb = test;
                }else if(test < today){
                    this.datedb = test;
                    console.log("avançando um dia!("+this.datedb.toLocaleString('en-GB')+")");
                }else {
                    console.log("não podemos avançar mais do que amanhã!");
                }
            }
        }
    });
    //Filter module
    var obj = [];
    data[0].estados.forEach(estado => {
        obj.push(estado.nome);
        
    });
    // console.log("Data: ", obj)
    Vue.set(app, 'itemsChips', obj)
    // console.log("Values: ", value, values);
    //Filter module city

    

    
</script>
