<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>XoCovid</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <div id="app">
            <v-toolbar>        
                <a class="navbar-brand" href="{% url 'index' %}">
                    <v-toolbar-title>XoCovid</v-toolbar-title>
                </a>
        
                <v-spacer></v-spacer>
                {% if user.is_authenticated %}
                <v-btn href="{% url 'logout' %}">
                    Logout
                </v-btn>
                {% else %}
                <v-btn href="{% url 'App:register' %}">
                    Registre-se
                </v-btn>
                <v-btn href="{% url 'App:user_login' %}">
                    Login
                </v-btn>
                {% endif %}
            </v-toolbar>
            <div class="container">
                {% block body_block %}
                {% endblock %}
            </div>
    </body>
</html>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify()
    });
</script>