{% extends "base.html" %}
{% block body_block %}
        <v-card
              class="mx-auto mt-6 pa-4"
              max-width="1044"
              width="auto"
              height='auto'
              outlined
              
        >
          <div  class="text-center">
            <v-list-item-title style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[ $t("dashboards.titulo_brasil") ]]</v-list-item-title>
          </div>
          <v-container fluid>
          <div style="display: flex;flex-direction: row;flex-flow: row wrap;">
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="330"
                  width="300"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.obitos_totais")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ nObitosBrasil ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.numeros_somados")]]</div>
            </v-card>
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="300"
                  width="300"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.casos_confirmados")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ nConfirmadosBrasil ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.ultimo_valor")]]</div>
            </v-card>
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="300"
                  width="300"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.confirmados_relativos")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ n100kBrasil ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.valores_100000")]]</div>
            </v-card>
          </div>
          <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="980"
                  width="auto"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.letalidade_brasil")]]
              </p>
              <div style="display: flex;flex-direction: row;justify-content:space-evenly;">
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="15"
                  :value="nConf"
                  color="rgb(113, 113, 113)"
                >
                  [[ nLetalidadeBrasil]]%
                </v-progress-circular>
              </div>
              <div class="pa-0 mt-4" style="text-align: center;">[[$t("dashboards.excplicacao_letalidade")]] </div>
            </v-card>
          </v-container>
        </v-card>
      </template>
    </v-container>
        <!-- Dashboard -->
    <v-container fluid>
      <template>
        <v-card
              class="mx-auto mt-6 pa-4 pb-8"
              max-width="1044"
              width="auto"
              height='auto'
              outlined  
        >

          {% comment %} nObitos nCasos nRecuperados nConf {% endcomment %}
          <div  class="text-center">
            <v-list-item-title style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("dashboards.titulo_personalizado")]]</v-list-item-title>
          </div>
          <div style="display: flex;flex-direction: row;width: 100%;flex-flow: row wrap;justify-content: center;" class="pr-4 mb-4 mt-6" >
            <v-autocomplete
              v-model="selecaoDashboard"
              :items="estadosSiglaDashboard"
              outlined
              dense
              chips
              small-chips
              :label="$t('dashboards.selecione_estado')"
              width="400"
            ></v-autocomplete>
            <v-btn height='40' width='200px' class="ml-2" large color="#1E9CF8" @click='jobDash(selecaoDashboard);keychange += 1' dark>[[$t("dashboards.confirmar_estado")]]</v-btn>
          </div>
          <div class="">
            <city-map :datedb="datedb" :key="keychange" :estado="selecaoDashboard" style="height: 600px;"></city-map>
          </div>
          <div style="display: flex;flex-direction: row;flex-flow: row wrap;">
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="300"
                  width="300"
                  height='200 auto-s'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.obitos_totais")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ jobObitosTotais ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.numeros_somados")]]</div>
            </v-card>
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="300"
                  width="300"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.casos_confirmados")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ jobConf ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.ultimo_valor")]]</div>
            </v-card>
            <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="300"
                  width="300"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.confirmados_relativos")]]
              </p>
              <p style="text-align: center;color:rgb(113, 113, 113) !important; font-weight: 900;font-size: 50px">
                [[ jobConfRel.toFixed(3) ]]
              </p>
              <div class="pa-0 mt-0" style="text-align: center;">[[$t("dashboards.valores_100000")]]</div>
            </v-card>
            
          </div>
          <v-card
                  class="mx-auto mt-6 pa-4"
                  max-width="980"
                  width="auto"
                  height='auto'
                  style='box-shadow:0px 0px 5px 2px rgba(28, 28, 28, 0.091)'
            >
              <p style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                [[$t("dashboards.letalidade_estado")]]
              </p>
              <div style="display: flex;flex-direction: row;justify-content:space-evenly;">
                <v-progress-circular
                  :rotate="360"
                  :size="100"
                  :width="15"
                  :value="nConf"
                  color="rgb(113, 113, 113)"
                >
                  [[ jobLetalidade.toFixed(3) ]]%
                </v-progress-circular>
              </div>
              <div class="pa-0 mt-4" style="text-align: center;">[[$t("dashboards.excplicacao_letalidade")]]</div>
            </v-card>
        </v-card>
      </template>
    </v-container>
    <!-- Graph Card -->
    <v-container fluid>
    <template>
      <v-card
            class="mx-auto mt-6 pa-6 pb-6"
            max-width="1044"
            width="auto"
            height='auto'
            outlined
          >
          <div style="display: flex;flex-direction: column;">
  
            <div style="display: block;flex-direction: row;">
              <div  class="text-center">
                <v-list-item-title style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_relatorio")]]</v-list-item-title>
              </div>
            <!-- <div style="display:flex;flex-direction:row;justify-content: center">
              <div style="width: 900px;" class="pr-4 pl-4 mt-4"> 
                <v-autocomplete
                    v-model="valuesR"
                    :items="itemsChipsR"
                    outlined
                    dense
                    chips
                    small-chips
                    label="Selecione os locais desejados"
                    multiple
                    class="mt-2"
                    width="800"
                  ></v-autocomplete>
              </div>
              <div>
                <div class="pb-3 pt-0 pr-4 mt-6" style="display: flex;flex-direction: row;justify-content: flex-end;">
                  <v-btn color="#1E9CF8" style="background-color:#1E9CF8;color: white;" text @click="printName(values)">
                    <v-icon class="pr-2" >mdi-download-outline</v-icon>
                    Gerar relatório
                  </v-btn>
                </div>
            </div> -->
          </div>
            <!-- Relatorio cards -->
            
            <!-- <v-card
                  class="mx-auto mt-6 pb-4 ml-0 mr-0 ma-xs-2"
                  id="card1"
                  max-width="990"
                  width='auto'
                  height='auto'
                  style='box-shadow:0px 0px 1px 2px rgba(28, 28, 28, 0.091)'
            >
              <p class="mt-4" style="text-align: center;color:#1E9CF8 !important; font-weight: 700;font-size: x-large;">
                Relatório por Região
              </p> -->
              
              <div style="display: flex;flex-direction: column;justify-content:center;">
                
                  <div style="display: flex;flex-direction: row;width: 100%;flex-flow: row wrap;justify-content: center;" class="pr-4 mb-4 mt-6" >
                    <v-autocomplete
                      v-model="selecaoGraficoR"
                      :items="estadosSigla"
                      outlined
                      dense
                      chips
                      small-chips
                      :label="$t('graficos.selecione')"
                      width="400"
                    ></v-autocomplete>
                    <v-btn height='40' width='200px' class="ml-2" large color="#1E9CF8" @click='renderGraficoR(selecaoGraficoR); valueChipR = selecaoGraficoR' dark>[[$t("graficos.confirmar")]]</v-btn>
                  </div> 
                  <!-- <v-textarea
                    label="Selecione uma data"
                    auto-grow
                    outlined
                    rows="1"
                    single-line
                    height='5'
                    full-width
                    v-model="dataRelatorio"
                    @click='conditionalDate = true'
                    class="pr-2"
                  ></v-textarea>
                  <v-btn v-if='dataRelatorio !== undefined' height='50' width='30%' class="ml-2" large color="#1E9CF8" @click='pageOn=1' dark>Confirmar Data</v-btn>
                  <v-btn v-if='dataRelatorio == undefined' height='50' width='30%' class="ml-2" large color="#1E9CF8" style="background-color:rgb(182, 182, 182) !important; color: white !important;" @click='pageOn=1' dark disabled>Confirmar Data</v-btn>
                </v-col>
                <div v-if='conditionalDate' style="display: flex;flex-direction: column;justify-content: center;">
                  <v-col class="ml-3">
                    <v-row>
                      <v-date-picker  v-model="picker" color="#1E9CF8"></v-date-picker>
                    </v-row>
                    <v-row>
                      <v-btn width='30.5%' style="border-radius: 5px;" class="mt-2" large color="#1E9CF8" @click='conditionalDate = false; dataRelatorio = picker[8]+picker[9]+"/"+picker[5]+picker[6]+"/"+picker[0]+picker[1]+picker[2]+picker[3]' dark>Escolher Data</v-btn>
                    </v-row>
                  </v-col>
                </div> -->
                
                <!-- <div style="display: flex;justify-content: center;width: 100%;">
                  <v-chip
                    class="ma-2 pr-1 "
                    color="#1E9CF8"
                    text-color="white"
                    width="300"
                    medium
                  >
                    <v-avatar left>
                      <v-icon>mdi-chart-pie</v-icon>
                    </v-avatar>
                      Informações de | 
                      <v-chip
                        class="ml-0 mr-0"
                        color="white"
                        text-color="#1E9CF8"
                        small
                      > 
                        [[valueChipR]] 
                      </v-chip>
                  </v-chip>
                </div> -->
                <div  class="text-center pt-4">
                  <ve-line v-if="page==1" :data="chartProjecao" :toolbox="toolbox" :legend="legend"></ve-line>
                  <img v-else class="mb-4" style="border-radius: 20px;" :src= "imageData[page-1]" width="auto" height="480">
                  <!-- <img class="mb-4" style="border-radius: 20px;" src= "../static/graficos/modelos/modelo_AL.png" width="640" height="480"> -->
                  <v-pagination
                    v-model="page"
                    :length="imageData.length"
                  > 
                  </v-pagination>
                </div>
              </div>
              <div v-if="page==1" class="pa-0 mt-0 pt-4" style="text-align: center;">[[$t("graficos.obs_relatorio")]]</div>
            <!-- </v-card> -->
  
          </v-card>
        </div>
        </template>
      </v-container>

      <!-- Dashboard -->
      
    <v-container fluid>
      <template>
        <v-card
          class="mx-auto mt-6 mb-8"
          max-width="1044"
          width="auto"
          height="auto"
          outlined
        > 
          <h1 style="color: #1E9CF8; font-weight: 900;text-align: center;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_pizza")]]</h1>
          <ve-pie :data="chartDataPie" :toolbox="toolbox"></ve-pie>
          <div class="pa-0 mt-4 mb-8" style="text-align: center;">[[$t("graficos.obs_pizza")]]  </div>
        </v-card>
      </template>
    </v-container>

    <v-container fluid>
      <template>
        <v-card
          class="mx-auto mt-6 mb-8"
          max-width="1044"
          width="auto"
          height="auto"
          outlined
        >
          <div  class="text-center">
            <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_histograma")]]</h1>
          </div>
          <ve-histogram :data="chartDistribuicaoBrasil" :toolbox="toolbox"></ve-histogram>
        </v-card>
      </template>
    </v-container>

    <v-container fluid>
      <template>
        <v-card
          class="mx-auto mt-6 mb-8"
          max-width="1044"
          width="auto"
          height="auto"
          outlined
        >
          <div  class="text-center">
            <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_confirmados")]]</h1>
          </div>
          <ve-line :data="chartData" :data-zoom="dataZoom" :toolbox="toolbox" :legend="legend"></ve-line>
          <div style="display: flex;flex-direction: row;width: 100%; flex-flow: row wrap;justify-content: center;" class="mt-4 pl-6 pr-6 mb-4">
              <v-autocomplete
                v-model="personalizadoPaises"
                :items="personalizadoPaises"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_pais')"
                width="400"
                multiple
                disabled
                class="pl-4 pr-4"
              ></v-autocomplete>
              <v-autocomplete
                v-model="valuesCE"
                :items="itemsChips"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_estado')"
                width="400"
                @click="printName(values)"
                @change="setCity(valuesCE, 'itemsChipsC', valuesC)"
                multiple
                class="pl-4 pr-4"
              ></v-autocomplete>
                <v-autocomplete
                  v-model="valuesC"
                  :items="itemsChipsC"
                  outlined
                  dense
                  chips
                  small-chips
                  :label="$t('graficos.selecione_cidade')"
                  width="400"
                  @change="setDistrict(valuesC, 'itemsChipsD')"
                  @click="printName(valuesC)"
                  @mousedown="setCity(valuesCE, 'itemsChipsC')"
                  multiple
                  class="pl-4 pr-4"
                ></v-autocomplete>
              <div>
                <div class="ml-4" style="height: 40px;display: flex;flex-direction: row;justify-content: flex-end;">
                  <v-btn color="#1E9CF8" style="background-color:#1E9CF8;color: white;" text @click="filtro(['Casos Confirmados', 'Casos Confirmados'], valuesCE, valuesC, valuesD, 'chartData', ['diários', 'acumulados'])">
                    <v-icon class="pr-2">mdi-download-outline</v-icon>
                     [[$t("graficos.filtrar")]]
                  </v-btn>
                </div>
              </div>
            </div>
        </v-card>
      </template>
    </v-container>

    <v-container fluid>
      <template>
        <v-card
          class="mx-auto mt-6 mb-8"
          max-width="1044"
          width="auto"
          height="auto"
          outlined
        >
          <div  class="text-center">
            <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_obitos")]]</h1>
          </div>
          <ve-line :data="chartDataO" :data-zoom="dataZoom" :toolbox="toolbox" :legend="legend"></ve-line>
          <div style="display: flex;flex-direction: row;width: 100%; flex-flow: row wrap;justify-content: center;" class="mt-4 pl-6 pr-6 mb-4">
              <v-autocomplete
                v-model="personalizadoPaises"
                :items="personalizadoPaises"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_pais')"
                width="100"
                multiple
                disabled
                class="pl-4 pr-4"
              ></v-autocomplete> 
              <v-autocomplete
                v-model="values"
                :items="itemsChips"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_estado')"
                width="100"
                @click="printName(values)"
                @change="setCity(values, 'itemsChipsC', 'valuesCS')"
                multiple
                class="pl-4 pr-4"
              ></v-autocomplete>
              <v-autocomplete
                v-model="valuesCS"
                :items="itemsChipsCS"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_cidade')"
                width="100"
                @change="setDistrict(valuesCS, 'itemsChipsDS')"
                @click="printName(valuesCS)"
                @mousedown="setCity(values, 'itemsChipsCS')"
                multiple
                class="pl-4 pr-4"
              ></v-autocomplete>
            <div>
              <div class="ml-4" style="height: 40px;display: flex;flex-direction: row;justify-content: flex-end;">
                <v-btn height='40' width='200px' color="#1E9CF8" style="background-color:#1E9CF8;color: white;" text @click="filtro(['Óbitos', 'Óbitos'], values, valuesCS, null, 'chartDataO', ['diários', 'acumulados'])">
                  <v-icon class="pr-2">mdi-download-outline</v-icon>
                  [[$t('graficos.filtrar')]]
                </v-btn>
              </div>
            </div>
        </v-card>
      </template>
    </v-container>


    <v-container fluid>
      <template>
        <v-card
          class="mx-auto mt-6 mb-8"
          max-width="1044"
          width="auto"
          height="auto"
          outlined
        >
          <div  class="text-center">
            <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.titulo_personalizado")]]</h1>
          </div>

          <ve-line v-if="linhaOuHist === 'linhas'" :data="chartDataSA" :data-zoom="dataZoom" :toolbox="toolbox" :legend="legend"></ve-line>
          <ve-histogram v-else :data="chartDataSA" :data-zoom="dataZoom" :toolbox="toolbox"></ve-histogram>

          <div style="width: 100%;display: flex;flex-flow:wrap !important; justify-content: space-around; align-items: center;">
            <div>
              <v-card 
                outlined
                class="mx-auto"
                style="margin-top: 30px !important;width: 90%;display: flex;flex-flow:wrap !important; justify-content: center; align-items: center;"
                max-width="300"
                min-width="300"
                width="auto"
                height="auto"
              >
                <v-radio-group class=" text-center" v-model="diaOUAcu" :mandatory="false">
                  <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.tipo_dado")]]</h1>
                  <div style="display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;padding-left: 50px !important;">
                    <div style="width: 100%;display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;">
                      <v-radio :label="$t('graficos.diarios')" value="diários"></v-radio>
                    </div>
                    <div style="width: 100%;display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;">
                      <v-radio :label="$t('graficos.acumulados')"  value="acumulados"></v-radio>
                    </div>
                  </div>              
                </v-radio-group>
              </v-card>
            </div>
            <div>
              <v-card 
                outlined
                class="mx-auto"
                style="margin-top: 30px !important;width: 90%;display: flex;flex-flow:wrap !important; justify-content: center; align-items: center;"
                max-width="300"
                min-width="300"
                width="auto"
                height="auto"
              >
                <v-radio-group class="text-center" v-model="linhaOuHist" :mandatory="false">
                  <h1 style="color: #1E9CF8; font-weight: 900;" class="headline mb-1 mt-4 pb-4">[[$t("graficos.tipo_grafico")]]</h1>
                  <div style="display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;flex-direction: column;">
                    <div style="width: 100%;display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;">
                      <v-radio :label="$t('graficos.grafico_linhas')" value="linhas"></v-radio>
                    </div>
                    <div style="width: 100%;display: flex;flex-flow:wrap !important; justify-content:flex-start; align-items:flex-end;">
                      <v-radio :label="$t('graficos.histograma')"  value="histograma"></v-radio>
                    </div>
                  </div>              
                </v-radio-group>
              </v-card>
            </div>
          </div>
          <div style="width: 100%;margin-top: 30px !important; display: flex;flex-flow:wrap !important; justify-content: center; align-items: center;flex-direction: row;" class="mt-4 pl-6 pr-6 mb-4">
            <div style="display: flex;flex-direction: row;width: 100%; flex-flow: row wrap;justify-content: center;">
              <v-autocomplete
                v-model="valuesSelect"
                :items="itemsChipsSelect"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_informacao')"
                multiple
                max-width='200'
                width="400"
                class="mr-4 ml-4"
              ></v-autocomplete>
            </div> 
          </div>
          <div style="display: flex;flex-direction: row;width: 100%; flex-flow: row wrap;justify-content: center;" class="mt-4 pl-6 pr-6 mb-4">
              <!-- <v-autocomplete
                v-model="personalizadoPaises"
                :items="personalizadoPaises"
                outlined
                dense
                chips
                small-chips
                label="Selecione o país"
                width="200"
                max-width='200'
                multiple
                disabled
              ></v-autocomplete> -->
            
              <v-autocomplete
                v-model="valuesA"
                :items="itemsChipsA"
                outlined
                dense
                chips
                small-chips
                :label="$t('graficos.selecione_estado')"
                max-width='200'
                width="100"
                @change="setCity(valuesA, 'itemsChipsCA', 'valuesCA')"
                multiple
                class="mr-4 ml-4"
              ></v-autocomplete>

                <v-autocomplete
                  v-model="valuesCA"
                  :items="itemsChipsCA"
                  outlined
                  dense
                  chips
                  small-chips
                  :label="$t('graficos.selecione_cidade')"
                  width="100"
                  @mousedown="setCity(valuesA, 'itemsChipsCA')"
                  @change="setDistrict(valuesCA, 'itemsChipsDA')"
                  class="mr-4 ml-4"
                  multiple
                ></v-autocomplete>
              
                <v-btn color="#1E9CF8" style="background-color:#1E9CF8;color: white;" text @click="filtro(valuesSelect, valuesA, valuesCA, valuesDA, 'chartDataSA', [diaOUAcu])">
                  <v-icon class="pr-2">mdi-download-outline</v-icon>
                    [[$t("graficos.filtrar")]]
                </v-btn>
              <div>
                <div class="ml-4" style="height: 40px;display: flex;flex-direction: row;justify-content: flex-end;">
                  
                </div>
              </div>
            </div>
        </v-card>
      </template>
    </v-container>
      <!-- Footer -->
      <template class="mt-12">
        <v-footer
          dark
          padless
        >
          <v-card
            flat
            tile
            class="lighten-1 white--text text-center"
            color="#1E9CF8"
            style="width:100%"
          >
            <v-card-text>
              <img style="height: 55px;" src='../static/logo/logoWhite.png'/>
            </v-card-text>
      
            <!--<v-card-text style="width:100%" class="white--text pt-0">
              The Smart Cities Innovation Laboratory (LIVE) is a laboratory of the UFPE Informatics Center and was created in 2015 with the objective of developing innovation projects in the context of smart cities. We carry out research and development projects in partnership with industry and funding agencies in various segments such as Automotive, IoT, Embedded Systems, Energy, High Performance Computing, Electronics, Urban Mobility, Connectivity and Artificial Intelligence. 
            </v-card-text>-->
      
            <v-divider></v-divider>
      
            <v-card-text class="white--text">
              2020 — <strong>LIVE/Laboratório de Inovação para Cidades Inteligentes e LCB/Laboratório de Computação Biomédica</strong>
            </v-card-text>
          </v-card>
        </v-footer>
      </template>
<style>
  
</style>

{% endblock %}