{% extends "base.html" %}
{% block body_block %}
<div id="app">
  <!-- app Bar -->
  <v-app>
    <template>
        <div>
          <v-app-bar
            color="#1E9CF8"
            dense
            dark
            flat
            style="z-index: 1"
          >
          <!-- style="" -->
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
            
            <v-toolbar-title style="width: 100%;display: flex;flex-direction: row;justify-content: center;">Logo</v-toolbar-title>
      
            <v-spacer></v-spacer>

            <v-menu
              left
              bottom
            >
              <template v-slot:activator="{ on }">
                <v-btn outlined v-on="on" style="border-radius: 4px;border: 0;">
                  <v-icon>mdi-account-outline</v-icon>
                  Perfil
                </v-btn>
              </template>
      
              <v-list class="mt-10">
                <v-list-item
                  @click="load_option(n)"
                  href="logout"
                >
                  <v-list-item-title href="logout">Sair</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <!-- <v-btn href="logout" class="ma-2" text icon color="blue lighten-5">
              <v-icon  color="white">mdi-account-outline</v-icon>
              Conta
            </v-btn> -->
          </v-app-bar>
        </div>
      </template>
    <!-- Graph Card -->
    <template>
    <v-card
          class="mx-auto mt-6"
          max-width="1044"
          width="1044"
          outlined
        >
          <div style="display:flex;flex-direction:row;justify-content: center">
            <div style="width: 900px;" class="pr-4 pl-4 mt-4"> 
              <v-autocomplete
                  v-model="values"
                  :items="itemsChips"
                  outlined
                  dense
                  chips
                  small-chips
                  label="Selecione os locais desejados"
                  multiple
                  class="mt-2"
                  width="800"
                ></v-autocomplete>
            </div>
            <div>
              <div class="pb-3 pt-0 pr-4 mt-6" style="display: flex;flex-direction: row;justify-content: flex-end;">
                <v-btn color="#1E9CF8" style="background-color:#1E9CF8;color: white;" text @click="printName(values)">
                  <v-icon class="pr-2" >mdi-download-outline</v-icon>
                  Gerar relatório
                </v-btn>
              </div>
          </div>
        </v-card>
      </template>
      <template>
        <v-card
          class="mx-auto mt-6"
          max-width="1044"
          width="1044"
          height="400"
          outlined
        >
           <ve-line :data="chartData" ></ve-line>
        </v-card>
      </template>
      <template>
        <v-card
          class="mx-auto mt-6"
          max-width="1044"
          width="1044"
          height="400"
          outlined
        >
           <!-- <ve-line ></ve-line> -->
        </v-card>
      </template>
     
        
      
  </v-app>
</div>

{% endblock %}

