{% extends "base.html" %}
{% block body_block %}
  <!-- Card legenda -->
  <!--<div style="position: absolute;bottom: 150px;left: 10vmin;z-index: 1">
    <v-card class="mx-auto pb-2 d-none d-lg-block" width="auto" outlined
      style="box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.084);z-index: 1">
      <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;">
        <span style="font-weight: 800;color: #1E9CF8;" class="headline mt-4 mb-3">[[ $t("legenda.titulo") ]]</span>
        <v-tooltip right color="#1E9CF8" class="mt-2 pr-4 mb-4">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon>
              <v-icon size="30" color="#1E9CF8">mdi-information-outline</v-icon>
            </v-btn>
          </template>
          <span v-if="maxInt===0">[[ $t("legenda.informacoes_heatmap") ]]</span>
          <span v-else>[[ $t("legenda.informacoes_stateMap") ]]</span>

        </v-tooltip>
      </div>

      <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;height:100%">
        <v-list dense class="d-flex flex-column" width="9vw" min-width="170px">
          <!- ? projecao de casos --><!--
          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 0">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #00d60e;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[ $t("legenda.baixa_densidade") ]]</div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 0">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ede500;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[ $t("legenda.media_densidade") ]]</div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 0">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #d91d00;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[ $t("legenda.alta_densidade") ]]</div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!- ? quantidade de casos --><!--
          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ffd9d9;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">0-[[Math.floor(mediacasos * 0.03125)]]</div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ffc2c2;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.03125)]]-[[Math.floor(mediacasos
                  * 0.125)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ffa8a8;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.125)]]-[[Math.floor(mediacasos *
                  0.25)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff9696;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.25)]]-[[Math.floor(mediacasos *
                  0.375)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #6a00ff;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[ $t("legenda.sem_dados") ]]</div
                  style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list>

        <v-list dense class="d-flex flex-column" width="9vw" min-width="170px">

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff8080;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.375)]]-[[Math.floor(mediacasos *
                  0.5)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff5252;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.5)]]-[[Math.floor(mediacasos *
                  0.625)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff4040;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.625)]]-[[Math.floor(mediacasos *
                  0.75)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff2121;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 0.75)]]-[[Math.floor(mediacasos *
                  0.875)]]</div style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mx-2 mt-2 py-n1" color="white" label outlined
            style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);" v-if="maxInt === 1">

            <v-list-item-icon left
              style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff0000;">
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title style="color: #1E9CF8 !important;">
                <div style="font-size: calc(13px - 0.12vw)">[[Math.floor(mediacasos * 1.5)]]+</div
                  style="font-size: calc(13px - 0.12vw)">
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list>
      </div>
    </v-card>
  </div>-->

  <!-- Card Menu mobile -->
  <div class="text-center d-lg-none" style="position: absolute;bottom: 0px;right: 0vmin;left: 0vmin;z-index: 1;">
    <v-bottom-navigation v-if="isHomeComponentCollapsed === true" grow height="120" background-color="white"
      color="#1E9CF8" :value="activeBtn" style="z-index: 1;border-radius: 20px 20px 0px 0px">
      <div style="width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <v-btn width="30" style="margin: 0" @click="isHomeComponentCollapsed = false">
          <v-icon size="35" color="#1E9CF8">mdi-chevron-up</v-icon>
        </v-btn>
        <div style="width: 100%;display: flex;flex-direction: row;justify-content:space-around;align-items: center;">
          <v-btn width="50" @click="dateBack" style="margin-left: 10px;">
            <v-list-item-subtitle style="color:#1E9CF8;font-size: small;"> [[ $t("menu.voltar") ]] </v-list-item-subtitle>
            <v-icon size="45" color="#1E9CF8">mdi-chevron-left-box</v-icon>
          </v-btn>
          <v-btn disabled style="background-color: white !important;">
            <div class="text-center">
              <v-list-item-title style="color:#1E9CF8;font-size: large; margin-left: 0;margin-right: 0;">
                <b>[[datedb.toISOString().substring(0,10)]]</b></v-list-item-title>
            </div>
          </v-btn>
          <v-btn width="50" @click="dateForward" style="margin-right: 10px;">
            <v-list-item-subtitle style="color:#1E9CF8;font-size: small;"> [[ $t("menu.avancar") ]] </v-list-item-subtitle>
            <v-icon size="45" color="#1E9CF8">mdi-chevron-right-box</v-icon>
          </v-btn>
        </div>
      </div>
    </v-bottom-navigation>
    <v-bottom-navigation v-if="isHomeComponentCollapsed === false" grow height="auto" background-color="white"
      color="#1E9CF8" :value="activeBtn" style="z-index: 1;border-radius: 20px 20px 0px 0px;">
      <div
        style="width: 100%;display: flex;flex-direction: column;justify-content:space-between;align-items: center;margin-bottom: 20px;">
        <v-btn width="30" style="margin: 0" @click="isHomeComponentCollapsed = true">
          <v-icon size="35" color="#1E9CF8">mdi-chevron-down</v-icon>
        </v-btn>
        <v-card class="mx-auto pb-2" outlined
          style="width: 90%;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);border-radius: 20px;z-index: 1; margin-bottom: 20px;">
          <p class="body-1 text-center d-block mt-4"> [[ $t("menu.selecao_mapa") ]] </p>
          <v-card-actions class="pt-0 text-center">
            <v-radio-group v-model="radioMap" class="pa-0">
              <v-radio :label="$t('menu.projecao_casos')" value="mapEnd" name="maxInt=1" @change="maxInt=0">
              </v-radio>
              <v-radio :label="$t('menu.casos_acumulados_obitos')" value="mapInit" name="maxInt=0"
                @change="maxInt=1"></v-radio>
            </v-radio-group>
          </v-card-actions>
          <!--<p v-if="maxInt === 1" class="body-1 text-center d-block mt-4"> [[ $t("seletor_casos_obitos.subtitulo") ]]
          </p>-->
          <v-card-actions v-if="maxInt === 1" class="pt-0 text-center">
            <v-radio-group v-model="radioheat" class="pa-0">
              <v-radio :label="$t('seletor_casos_obitos.brasil')" value="brasil"></v-radio>
              <v-radio :label="$t('seletor_casos_obitos.estados')" value="pernambuco"></v-radio>
            </v-radio-group>
          </v-card-actions>
          <div style="display: flex;flex-direction: column;align-items: center;" v-if='radioheat === "pernambuco" && maxInt == 1'>
            <v-autocomplete v-model="homeSelecao" :items="estadosSiglaDashboard" outlined dense chips small-chips
              :label="$t('seletor_casos_obitos.selecione_estado')" width="auto" class="pl-2 pr-2">
            </v-autocomplete>
            <v-btn v-if="maxInt === 1" style="border-radius: 5px;color: white !important;"
              @click="keychange += 1;isHomeComponentCollapsed = true" height="40" color="#1E9CF8">
              [[ $t("menu.selecionar") ]]
            </v-btn>
          </div>
        </v-card>
        <v-btn class="pb2" href='graphs'>
          <span style="color:#1E9CF8">[[ $t("menu.mais_informacoes") ]]</span>
          <v-icon size="35" color="#1E9CF8">mdi-file</v-icon>
        </v-btn>
        <div style="width: 100%;display: flex;flex-direction: row;justify-content:space-around;align-items: center;">
          <v-btn width="50" @click="dateBack" style="margin-left: 10px;">
            <v-list-item-subtitle style="color:#1E9CF8;font-size: small;"> [[ $t("menu.voltar") ]] </v-list-item-subtitle>
            <v-icon size="45" color="#1E9CF8">mdi-chevron-left-box</v-icon>
          </v-btn>
          <v-btn disabled style="background-color: white !important;">
            <div class="text-center">
              <v-list-item-title style="color:#1E9CF8;font-size: large; margin-left: 0;margin-right: 0;">
                <b>[[datedb.toISOString().substring(0,10)]]</b></v-list-item-title>
            </div>
          </v-btn>
          <v-btn width="50" @click="dateForward" style="margin-right: 10px;">
            <v-list-item-subtitle style="color:#1E9CF8;font-size: small;"> [[ $t("menu.avancar") ]] </v-list-item-subtitle>
            <v-icon size="45" color="#1E9CF8">mdi-chevron-right-box</v-icon>
          </v-btn>
        </div>
      </div>
    </v-bottom-navigation>
  </div>

  
  <div class="text-center"
    style="position: absolute;bottom: 30px;right: 10vmin;left: 10vmin;z-index: 1">
    <!-- Card legenda mobile -->
    <v-list dense class="d-flex flex-row overflow-y-auto"
      style="position: absolute;bottom: 130px;right: 0vmin;left: 0vmin;z-index: 1;border-radius: 10px 10px 10px 10px">
      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #6a00ff;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[ $t("legenda.sem_dados") ]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <!-- ? projecao de casos -->
      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 0">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #00d60e;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[ $t("legenda.baixa_densidade") ]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 0">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ede500;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[ $t("legenda.media_densidade") ]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 0">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #d91d00;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[ $t("legenda.alta_densidade") ]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <!-- ? quantidade de casos -->
      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #e6e6e6;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>0-[[Math.floor(mediacasos * 0.03125)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ffc2c2;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.03125)]]-[[Math.floor(mediacasos * 0.125)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ffa8a8;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.125)]]-[[Math.floor(mediacasos * 0.25)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff9696;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.25)]]-[[Math.floor(mediacasos * 0.375)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff8080;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.375)]]-[[Math.floor(mediacasos * 0.5)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff5252;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.5)]]-[[Math.floor(mediacasos * 0.625)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff4040;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.625)]]-[[Math.floor(mediacasos * 0.75)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff2121;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 0.75)]]-[[Math.floor(mediacasos * 0.875)]]</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item class="mx-1 mt-2 py-n1" color="white" label outlined style="box-shadow: 0 0 4px 0 rgba(0, 0, 0,0.2);"
        v-if="maxInt === 1">

        <v-list-item-icon left
          style="width: 20px !important;min-width: 20px !important;height: 20px !important;border-radius: 4px;background-color: #ff0000;">
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title style="color: #1E9CF8 !important;">
            <div>[[Math.floor(mediacasos * 1.5)]]+</div>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>  
    </v-list>
    <!-- --------Menu geral------- -->
    <v-bottom-navigation class="d-none d-lg-flex" grow height="100" background-color="white" color="#1E9CF8" :value="activeBtn"
      style="z-index: 1;justify-content: space-around">
      <v-btn href='graphs'>
        <span style="color:#1E9CF8">[[ $t("menu.mais_informacoes") ]]</span>
        <v-icon size="55" color="#1E9CF8">mdi-file</v-icon>
      </v-btn>

      <v-btn @click="dateBack">
        <span style="color:#1E9CF8">[[ $t("menu.voltar") ]]</span>
        <v-icon size="55" color="#1E9CF8">mdi-chevron-left-box</v-icon>
      </v-btn>

      <v-btn disabled style="background-color: white !important;">
        <div class="text-center">
          <v-list-item-title style="color:#1E9CF8;font-size: x-large;"><b>[[datedb.toISOString().substring(0,10)]]</b>
          </v-list-item-title>
        </div>
      </v-btn>

      <v-btn @click="dateForward">
        <span style="color:#1E9CF8;">[[ $t("menu.avancar") ]]</span>
        <v-icon size="55" color="#1E9CF8">mdi-chevron-right-box</v-icon>
      </v-btn>

      <v-bottom-sheet v-model="sheet">
        <template v-slot:activator="{ on }">
          <v-btn v-on='on'>
            <span style="color:#1E9CF8">[[ $t("menu.alterar_mapa") ]]</span>
            <div class="text-center">
              <v-list-item-title v-if="maxInt === 0" style="color:#1E9CF8">[[ $t("menu.projecao_casos") ]]
              </v-list-item-title>
              <v-list-item-title v-if="maxInt === 1" style="color:#1E9CF8; font-size: small;">[[
                $t("menu.casos_acumulados_obitos") ]]</v-list-item-title>
            </div>
          </v-btn>
        </template>
        <v-sheet class="text-center" height="200px">
          <v-container>
            <v-row>
              <v-col cols="6" class="mt-4">
                <v-card class="mx-auto" elevation="2" flat>
                  <v-list-item three-line>
                    <v-list-item-content>
                      <!-- <div class="overline mb-2">OVERLINE</div> -->
                      <v-list-item>
                        <v-tooltip right color="#1E9CF8">
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" icon>
                              <v-icon size="30" color="#1E9CF8">mdi-information-outline</v-icon>
                            </v-btn>
                          </template>
                          <span>[[ $t("menu.projecao_informacao") ]]</span>
                        </v-tooltip>
                      </v-list-item>
                      <v-list-item-title style="margin-top: -45px;" class="headline mb-1">[[ $t("menu.projecao_casos")
                        ]]</v-list-item-title>
                      <v-list-item-subtitle class="mb-2">[[ $t("menu.projecao_subtitulo") ]]</v-list-item-subtitle>

                      <div class="justify-center">
                        <v-btn style="border-radius: 5px;" @click="sheet = !sheet;maxInt=0; radioheat = 'brasil'"
                          outlined color="#1E9CF8">
                          [[ $t("menu.selecionar") ]]
                        </v-btn>
                      </div>
                    </v-list-item-content>
                </v-card>
              </v-col>

              <v-col cols="6" class="mt-4">
                <v-card class="mx-auto" elevation="2" max-height="180" flat>
                  <v-list-item three-line>
                    <v-list-item-content>
                      <!-- <div class="overline mb-2">OVERLINE</div> -->
                      <!-- TODO ajeitar essas datas do lado dos botoes de avançar e voltar -->
                      <v-list-item>
                        <v-tooltip right color="#1E9CF8">
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" icon>
                              <v-icon size="30" color="#1E9CF8">mdi-information-outline</v-icon>
                            </v-btn>
                          </template>
                          <span>[[ $t("menu.casos_acumulados_obitos_informacao") ]]</span>
                        </v-tooltip>
                      </v-list-item>

                      <v-list-item-title style="margin-top: -45px;" class="headline mb-1">[[
                        $t("menu.casos_acumulados_obitos") ]]</v-list-item-title>
                      <v-list-item-subtitle class="mb-2">[[ $t("menu.casos_acumulados_obitos_subtitulo") ]]
                      </v-list-item-subtitle>

                      <div class="justify-center">
                        <v-btn style="border-radius: 5px;" @click="sheet = !sheet;maxInt=1" outlined color="#1E9CF8">
                          [[ $t("menu.selecionar") ]]
                        </v-btn>
                      </div>

                    </v-list-item-content>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-sheet>
      </v-bottom-sheet>
    </v-bottom-navigation>
  </div>
  
  <!-- --------Seletor de casos confirmados e obitos------- -->
  <div style="position: absolute;top: 95px;right: 10vmin;z-index: 1;display: flex;" v-if="maxInt === 1">
    <v-card class="mx-auto pb-2 d-none d-lg-block px-1" outlined width="220px"
      style="box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.084);z-index: 1;flex: auto;">
      <h3 v-if='maxInt === 1' style="color: #1E9CF8;font-size: medium;text-align: center;" class="mb-0 mt-3 mb-2">[[
        $t("seletor_casos_obitos.titulo_stateMap") ]]</h3>
      <h3 v-if='maxInt === 0' style="color: #1E9CF8;font-size: medium;text-align: center;" class="mb-0 mt-3">[[
        $t("seletor_casos_obitos.titulo_heatmap") ]]</h3>
      <!--<p class="body-1 mb-0 pt-2 text-center d-block"> [[ $t("seletor_casos_obitos.subtitulo") ]] </p>-->
      <v-card-actions v-if="maxInt === 1" class="pt-0 text-center">
        <v-radio-group v-model="radioheat" class="pa-0">
          <v-radio :label="$t('seletor_casos_obitos.brasil')" value="brasil"></v-radio>
          <v-radio :label="$t('seletor_casos_obitos.estados')" value="pernambuco"></v-radio>
        </v-radio-group>
      </v-card-actions>
      <div style="display: flex;flex-direction: column;align-items: center;" v-if='radioheat === "pernambuco"'>
        <v-autocomplete v-model="homeSelecao" :items="estadosSiglaDashboard" outlined dense chips small-chips
          :label="$t('seletor_casos_obitos.selecione_estado')" width="400" class="pl-2 pr-2"></v-autocomplete>
        <v-btn v-if="maxInt === 1" @click="keychange += 1; " class="mb-2" width='110' color='#1E9CF8'
          style="color: white;">[[ $t("seletor_casos_obitos.botao") ]]</v-btn>
      </div>
    </v-card>
  </div>

    <!-- Card Popup-->
  <!-- Esse componente deverá ser colocado como popup na api do mapa -->
  {% comment %} <div style="position: absolute;bottom: 150px;left: 42vmin;width: 700px;height: 500px;">
    <v-card class="mx-auto pb-2" max-height="500" height="400" width="500" outlined
      style="box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.084);z-index: 1">
      <v-list-item three-line>
        <v-list-item-content>
          <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <v-list-item-title style="font-weight: 800;color: #1E9CF8;" class="headline mt-2 mb-4">Nome do Bairro,
              cidade, estado</v-list-item-title>

            <div class="mt-8"
              style="display: flex;flex-direction: row;justify-content: center;align-items: center;width: 100%;">
              <v-list :disabled="disabled" :dense="dense" :two-line="twoLine" :three-line="threeLine" :shaped="shaped"
                :flat="flat" :subheader="subheader" :sub-group="subGroup" :nav="nav" :avatar="avatar" :rounded="rounded"
                disabled>
                <v-subheader>REPORTS</v-subheader>
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item v-for="(item, i) in items" :key="i" :inactive="inactive">
                    <v-list-item-avatar v-if="avatar">
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title"></v-list-item-title>
                      <v-list-item-subtitle v-if="twoLine || threeLine" v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
              <v-list :disabled="disabled" :dense="dense" :two-line="twoLine" :three-line="threeLine" :shaped="shaped"
                :flat="flat" :subheader="subheader" :sub-group="subGroup" :nav="nav" :avatar="avatar" :rounded="rounded"
                disabled>
                <v-subheader>REPORTS</v-subheader>
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item v-for="(item, i) in items" :key="i" :inactive="inactive">
                    <v-list-item-avatar v-if="avatar">
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title"></v-list-item-title>
                      <v-list-item-subtitle v-if="twoLine || threeLine" v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </div>
          </div>

        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div> {% endcomment %}

  <!-- Map -->
  <home-city-map 
    v-if='radioheat === "pernambuco" && maxInt === 1'
    :key="keychange" 
    :estado="homeSelecao" 
    :datedb="datedb"
    v-on:dados-legenda="updatelegenda" 
    style="height: 100%;">
  </home-city-map>
  <state-map 
    v-if="maxInt === 1 && radioheat === 'brasil'" 
    :datedb="datedb" 
    v-on:dados-legenda="updatelegenda">
  </state-map>
  <covid-map 
    v-if="maxInt === 0" 
    :radioheat="radioheat" 
    :datedb="datedb"
    :predictspe="useIa ? predictspe : []" 
    :predicts="useIa ? predicts : []" 
    :lastinterpol="lastinterpol"
    :maiorintbr="maiorint" 
    :maiorintpe="maiorintpe">
  </covid-map>
{% endblock %}