{% if items_json %}
  {% comment %} 
  O problema atual vem da dificuldade de importar um arquivo JS(Vue, na verdade) como um elemento HTML,
  de acordo como é feito em Vue:

  em Vue, o componente é exportado na tag script. o componente que importa o outro, faz por meio de um simples
  "import ComponentName from 'PATH/ComponentName.vue' " no mesmo script que instancia/exporta o componente atual.
  especificado na seção components: {} do componente atual, é só usar o que foi importado como se fosse um
  elemento HTML comum.

  Uma alternativa pode ser registrar componentes locais na tag script
  {% endcomment %}


  <!DOCTYPE html>
  <html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  </head>

  <body>
    <script type='text/javascript'>
      // var people = {{ items_json|safe }}; // ! usado na instancia Vue, no objeto data
    </script>

    {% comment %} <script type="module">
      import App from './views/App.vue'
    </script> {% endcomment %}

    <div id="app">
      <v-app>
        <v-content>
          <v-container fluid fill-height class="justify-center">
            Como carregar outras páginas? hmmmmm
            {% comment %} <App></App> {% endcomment %}
          </v-container>
        </v-content>
      </v-app>
    </div>

    <script>
      //import MainApp from '/App/vue-views/MainApp.vue'

      const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        components: {
          //MainApp
        },
      });
    </script>

  </body>
  </html>
{% else %}
  <p>No items available.</p>
{% endif %}