{% extends "base.html" %}
{% block body_block %}
<v-container fluid class="primary d-flex flex-column justify-center align-center" fill-height :style="{fontFamily: 'Barlow, Helvetica, Arial, sans-serif',textAlign: 'center'}">
    <v-card raised color="secondary" max-width="405px" max-height="600px" width="400px" fluid class="d-flex px-0 " :style="{paddingTop: '35px',borderRadius: '10px'}" >
        <v-row class="mx-12 d-block"  justify="center" no-gutters > 
            <!-- <p class="text-center font-weight-bold ma-0 mb-5" :style="{fontSize: '60px',color: '#1E9CF8'}" >Logo</p> // ! Replacement for logo  -->
            <v-card-title class="justify-center font-weight-bold">Registre-se aqui</v-card-title>
            <v-card-subtitle>Preencha o formulário.</v-card-subtitle>
            <v-alert 
                v-if="{{ register_error|safe }} == true" 
                type="error"
                dense
                outlined
            >
                Falha no cadastro
            </v-alert>
                
            <v-form
                ref="form"
                lazy-validation
                method="POST"
                v-bind:style="{paddingTop: '10px'}"
            > {% csrf_token %}
        
                <v-text-field 
                    required 
                    label="Nome"
                    name="username"
                ></v-text-field> 
                <v-text-field
                    required 
                    label="Senha"
                    name="password"
                    type="password"
                ></v-text-field> 
                <v-text-field
                    label="Email"
                    required
                    name="email"
                ></v-text-field>
                <v-text-field
                    label="ID"
                    required
                    name="id"
                ></v-text-field>
                <v-btn
                    color="primary"
                    class="mt-2 mb-2"
                    flat
                    height="50px"
                    width="100%"
                    type="submit"
                >
                    Registrar
                </v-btn>
                
            </v-form>
        </v-row>
    </v-card>
</v-container>
{% endblock %}